.body{
	display: grid;
	grid-template-areas: 
	"imagen";
	grid-template-columns: 100%;
	grid-template-rows: 100%;
}

.imagen {
	grid-area: imagen;
}

.imagen{
	width: 100%;
}



@media only screen and (max-width: 768px) {

.body{
	display: grid;
	grid-template-areas: 
	"imagen";
	grid-template-columns: 100%;
	grid-template-rows: 100%;
}
}





